body {
  margin: 0;
  padding: 0;
  min-width: 768px;
  font-family: "Pt Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;

  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  margin-top: 0;

  max-width: 1200px;
  margin-left:  auto;
  margin-right: auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

.main-navigation {
  width: 98px;
  height: 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;

  background-color: #f2f2f2;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.welcome-card {
  position: relative;
  width: 1200px;
  height: 773px;
  padding-top: 132px;
  margin-top: 0px;
  background: url(../img/background-photo.jpg)no-repeat top;
  z-index: -1;
}

.welcome-card::after {
  content: "";
  position: absolute;
  top: 530px;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 100%;
  height: 59px;
  background:  url(../img/border-intro.svg) no-repeat center bottom;
  background-size: 100% auto;
}

.welcome-card img {
  display: block;
  width: 459px;
  height: 353px;
  margin-left: auto;
  margin-right: auto;
}

.title-site {
  position: absolute;
  top: 600px;
  bottom: 0px;
  height: 216px;
  background-color: #ffffff;
  text-align: center;
  width: 1200px;
}

.title-site h1 {
  padding-top: 61px;
  padding-left: 380px;
  width: 440px;
  font-size: 21px;
  line-height: 26px;
}

.title-site p {
  padding-bottom: 56px;
  font-size: 14px;
  line-height: 26px;
}

.first-feature {
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
}
.tips-list {
  list-style: none;
}
.tips-item {
  text-align: center;
}
.tips-list h3 {
  font-size: 21px;
}
.second-feature {
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
}
.last-features-list {
  list-style:none;
}
.last-features-item {
  text-align: center;
}
.last-features-item h3 {
  font-size: 21px;
}
.search-info {
  text-align: center;
}
.search-info h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}
.search-info p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.catalog-list {
  list-style: none;
}
.catalog-item-title a {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}
.catalog-action-item a {
  font-weight: bold;
}
.catalog .catalog-item-rate {
  width: 110px;
  height: 27px;
  background-color:#f2f2f2;
  text-align: center;
  color: #333333;
}
.search-form {
  display: block;
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}
.search-window .context {
  width: 568px;
  height: 86px;
  margin-left: 316px;
}
.search-form input[type="text"], .search-form label{
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  line-height: 26px;
  color: #000000;
}
.search-form input[type="text"] {
  background-color: #f2f2f2;
  border: non;
}
.search-form .date {
  width: 346px;
  height: 38px;
}
.search-form .input-control {
  width: 38px;
  height: 38px;
}
.search-form input:hover {
  background-color: #ebebeb;
}
.search-form input:focus, .search-form input:active{
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}
.btn {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}
.search-window .btn {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.catalog .btn {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.context{
  background-color: #766357;
  color: #ffffff;
}
.btn:hover,
.btn:focus {
  background-color: #669ec0;
}
.btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.catalog-item-link:hover, .catalog-item-link:focus {
  color: #81b3d2;
}
.catalog-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.context:hover,
.context:focus {
  background-color: #604e43;
}
.context:active {
  background-color: #503e33;
  color:rgba(255, 255, 255, 0.3);
}
.calendar-btn:hover,
.calendar-btn:focus {
  stroke: #000000;
}
.calendar-btn:active, .copyright-btn:hover, .copyright-btn:focus {
  stroke: #81b3d2;
}
.copyright-btn:active {
  stroke: #cacaca;
}
.input-control-less:hover,
.input-control-less:focus, .input-control-more:hover,
.input-control-more:focus {
  stroke: #000000;
}
.input-control-less:active, .input-control-more:active {
  stroke: #81b3d2;
}
.footer-hashtag a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.footer-social ul {
  list-style: none;
}
.footer-social .btn {
  display: inline-block;
  margin: 6px;
  width: 46px;
  height: 48px;
}

.footer-copyright b {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
